#topHeader
{
    height: 100px;
}

body
{
    padding-top: 100px;
    padding-bottom: 70px; 
    background-color: rgb(0, 196, 161);
}

#div-intro
{
    border: 2px solid rgb(255, 31, 0);
}

.desc-main
{
    text-shadow: -3px -5px 3px rgba(0, 0, 0, 0.50);   
}

#title-conv
{
    background-color: rgb(230, 230, 230);
}

#cardConversation
{
    width: 75%;
    height: 50vh;
    border: 1px solid rgb(0, 196, 161);
    border-radius: 16px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.msg-bot
{
    width: 48%;
}

.msg-user
{
    width: 48%;
    margin-left: 52%;
}

.mapTest
{
    width: 48%;
    height: 11vh;
}

#div-champsDeSaisie
{
    width: 60%;
}

footer
{
    height: 5rem;
}